{% extends 'base.html' %} 
{% block content %}
        
        <div class="login-content">
            <form action='projectAdd' method='POST'>
                {% csrf_token %}
                <center><div class="projects-headtitle">Projekto kurimas</div></center>
                <center>Pavadinimas</center>
                <center><input class="input-style" type="text" name="name" placeholder="Pavadinimas"></center>
                <center>Tekstas</center>
                <center><textarea class="input-style" name="text" placeholder="Aprasymas"></textarea></center>
                <center>Data</center>
                <center><input class="input-style" type="date" name="date"></center>
                <br>
                <center><input type="submit" class="w3-bar-item w3-button" style="
                    background-color: #6e6e6e;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 50px"></center>
            <br>
            {% for mesage in messages %}
        
        <center>{{mesage}}</center>
        
        {% endfor %}
        </form>
        </div>


{% endblock content %}