{% extends 'base.html' %} 
{% block content %}

          <div class="container">
            <div class="row"  style="height: 10%;">
                <div class="col-lg-10 projects-headtitle">Rinkodara</div>
                {% if prideti %}
                <form>
                  <input type="button" style="margin-top: 1rem;" class="btn btn-outline-danger" value="Back" onclick="history.back()">
                </form>
                {% else %}
                  <div class="col-lg-2" style="align-self: center;"><a href="toAddUAB"><button type="button" class="btn btn-success">Prideti</button></a></div>
                {% endif %}
                <table style="margin-top: 1rem;">
                <tr>
                    <th scope="col"><input type="text" class="form-control" id="myInput_name" onkeyup="myFunction(0)" placeholder="Ieškoti pagal vardą..." title="Type in a name"></th>
                    <th scope="col"><input type="text" class="form-control" id="myInput_type" onkeyup="myFunction(1)" placeholder="Ieškoti pagal tipą..." title="Type in a type"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
              </table>
                <table id="myTable" class="table" style="width: 100%;">
                    <thead>
                    <tr class="header">
                        <th scope="col">Pavadinimas</th>
                        <th scope="col">Tipas</th>
                        <th class="d-none d-md-table-cell" scope="col">Email</th>
                        <th class="d-none d-md-table-cell" scope="col">Būsena</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for infoUAB in infoUABs %}
                          <tr>
                              <td>{{infoUAB.pavadinimas}}</td>
                              <td>{{infoUAB.tipas}}</td>
                              <td class="d-none d-md-table-cell">{{infoUAB.email}}</td>
                              {% if infoUAB.busena == 0 %}
                              <td class="d-none d-md-table-cell" style="color: green; font-weight: bold;"></i>Aktyvus</td>
                              {% elif infoUAB.busena == 1 %}
                              <td class="d-none d-md-table-cell">Pasyvus</td>
                              {% elif infoUAB.busena == 2 %}
                              <td class="d-none d-md-table-cell" style="color: rgb(221, 12, 12); font-weight: bold;">Nekontaktuoti</td>
                              {% endif %}
                              {% if prideti %}
                              <form action="uab_add_project" method="post">
                                {% csrf_token %}
                                <td><button class="btn btn-outline-success" type="submit" name="nothing" >Prideti</button></td>
                                <td style="display: none;"><input value="{{projectId}}" name="projectId"></td>
                                <td style="display: none;"><input value="{{infoUAB.id}}" name="uabId"></td>
                              </form>
                              {% else %}
                              <form action="uab_lookout" method="get">
                                <td><button class="btn btn-outline-success" type="submit" name="nothing" >Perziureti</button></td>
                                <td style="display: none;"><input value="{{infoUAB.id}}" name="id"></td>
                              </form>
                              {% endif %}
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
          <script>
            function myFunction(x) {
              var input, filter, table, tr, td, i, txtValue, filterId;
              if(x==0)
              {
                filterId = "myInput_name";
              }
              else if(x==1)
              {
                filterId = "myInput_type";
              }
              input = document.getElementById(filterId);
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  console.log(txtValue)
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
          </script>

{% endblock content %}