{% extends 'base.html' %} 
{% block content %}

          <div class="container">
            <div class="row"  style="height: 10%;">
                <div class="col-lg-12 projects-headtitle">Nariai</div>
                {% if  user.is_superuser %}
                <table style="margin-top: 1rem;">
                  <tr>
                      <th scope="col"><input type="text" class="form-control" id="myInput_name" onkeyup="myFunction(0)" placeholder="Ieškoti pagal vardą..." title="Type in a name"></th>
                      <th scope="col"><input type="text" class="form-control" id="myInput_lname" onkeyup="myFunction(1)" placeholder="Ieškoti pagal pavardę..." title="Type in a lname"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
                </table>
                <table id="myTable" class="table" style="width: 100%;">
                    <thead>
                    <tr class="header">
                        <th scope="col">Vardas</th>
                        <th scope="col">Pavarde</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                          <tr>
                              <td>{{user.first_name}}</td>
                              <td>{{user.last_name}}</td>
                              <td>{{user.email}}</td>
                              <form action="project_lookout" method="get">
                                <td><button class="btn btn-link" type="submit" name="nothing" >Perziureti</button></td>
                                <td style="display: none;"><input value="{{item.id}}" name="id"></td>
                            </form> 
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
          </div>
          <script>
            function myFunction(x) {
              var input, filter, table, tr, td, i, txtValue, filterId;
              if(x==0)
              {
                filterId = "myInput_name";
              }
              else if(x==1)
              {
                filterId = "myInput_auth";
              }
              input = document.getElementById(filterId);
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[x];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  console.log(txtValue)
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
          </script>

{% endblock content %}
