{% extends 'base.html' %} 
{% block content %}


          <div class="container-fluid container-body">
            <div class="row">
              <div class="col-lg-12">
                  <div class="projects-headtitle">#{{uab.id}} {{uab.pavadinimas}}</div>
                  <div class=" project-short-content" style="width: 100%; height: auto;">
                      <span style="overflow-wrap: break-word;">addddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                          dddddddddddddddddddddddddddddddddddddd
                          asddddddddddddddddddddddd
                          asddddddddddddddddddddddddddddddddddddddwadawdasdasddd
                          s
                      </span>
                      {% if uab.busena == 0 %}
                      <div style="color: green; font-weight: bold;"></i>Aktyvus</div>
                      {% elif uab.busena == 1 %}
                      <div>Pabaigtas</div>
                      {% elif uab.busena == 2 %}
                      <div>Atsauktas</div>
                      {% endif %}
                      <div>Email: {{uab.email}}</div>
                      <div>Nr: {{uab.numeris}}</div>
                      <div>Tipas: {{uab.tipas}}</div>
                  </div>
              </div>
              <div class="col-lg-12">
                <div class="projects-headtitle">Istorija</div>
                  <form action="toAddUABinfo" method="post">
                      {% csrf_token %}
                      <div class="join-button" style="float: right; margin: 1rem;"><button type="submit" class="btn btn-success">Prideti</button></div>
                      <input style="display: none;" name="uabId" value="{{uab.id}}">
                  </form>
              </div>
              <div class="col-lg-12">
                <table class="table" style="width: 100%;">
                  <thead>
                  <tr>
                      <th scope="col">Data</th>
                      <th scope="col">Zinute</th>
                      <th scope="col">Autorius</th>
                      <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for el in info%}
                    <tr>
                      <td>{{el.date}}</td>
                      <td>{{el.tekstas}}</td>
                      <td>{{el.authName}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

{% endblock content %}
