{% extends 'base.html' %} 
{% block content %}

        <div class="login-content">
            <form action='uabAddInfo' method='POST'>
                {% csrf_token %}
                <center><div class="projects-headtitle">UAB pridejimas</div></center>
                <center><input class="input-style" type="date" name="date" value="{{data}}" ></center>
                <center><textarea class="input-style" style="height: 200px;" name="text" placeholder="Tekstas"></textarea></center>
                
                <div class="form-check form-check-inline">
                    {% if busena == 0 %}<input class="form-check-input" type="radio" name="inlineRadioOptions" checked="checked" id="inlineRadio1"  value="0">{%else%}<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="0">{% endif%}
                    <label class="form-check-label" for="inlineRadio1">Aktyvus</label>
                  </div>
                  <div class="form-check form-check-inline">
                    {% if busena == 1 %}<input class="form-check-input" type="radio" name="inlineRadioOptions" checked="checked" id="inlineRadio2"  value="1">{%else%}<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  value="1">{% endif%}
                    <label class="form-check-label" for="inlineRadio2">Pasyvus</label>
                  </div>
                  <div class="form-check form-check-inline">
                    {% if busena == 2 %}<input class="form-check-input" type="radio" name="inlineRadioOptions" checked="checked" id="inlineRadio3"  value="2">{%else%}<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"  value="2">{% endif%}
                    <label class="form-check-label" for="inlineRadio3">Nekontaktuoti</label>
                  </div>
                
                
                <div style="display: none;">
                    <input style="margin-top:5px" type="text" name="uabId" value="{{uabId}}">
                </div>
                <br>
                <center><input type="submit" class="w3-bar-item w3-button" style="
                    background-color: #6e6e6e;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 50px"></center>
            <br>
            {% for mesage in messages %}
        
        <center>{{mesage}}</center>
        
        {% endfor %}
        </form>
        </div>


{% endblock content %}
