{% extends 'base.html' %} 
{% block content %}
        
        <div class="login-content">
            <form action='uabAdd' method='POST'>
                {% csrf_token %}
                <center><div class="projects-headtitle">Įmonių pridėjimas</div></center>
                <center>Pavadinimas</center>
                <center><input class="input-style" type="text" name="name" placeholder="Pavadinimas"></center>
                <center>Tipas</center>
                <center><input class="input-style" style="margin-top:5px" type="text" name="type" placeholder="Tipas"></center>
                <center>Email</center>
                <center><input class="input-style" style="margin-top:5px" type="email" name="email" placeholder="Email"></center>
                <center>Numeris</center>
                <center><input class="input-style" style="margin-top:5px" type="text" name="number" placeholder="Numeris"></center>
                <center>Tekstas</center>
                <center><textarea style="height: 150px;" class="input-style" style="margin-top:5px" type="text" name="tekstas" placeholder="Tekstas"></textarea></center>
                <br>
                <center><input type="submit" class="w3-bar-item w3-button" style="
                    background-color: #6e6e6e;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 50px"></center>
            <br>
            {% for mesage in messages %}
        
        <center>{{mesage}}</center>
        
        {% endfor %}
        </form>
        </div>

{% endblock content %}
